<div class="container">

<!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="/imgs/sinatra.png" alt="">
                </a>
                <h3>
                    <a href="#">Sinatra</a>
                </h3>
                <p>PLACEHOLDER</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="/imgs/javascript.png" alt="">
                </a>
                <h3>
                    <a href="#">JavaScript</a>
                </h3>
                <p>PLACEHOLDER</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="/imgs/activerecord.png" alt="">
                </a>
                <h3>
                    <a href="#">ActiveRecord</a>
                </h3>
                <p>PLACEHOLDER</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="/imgs/http.png" alt="">
                </a>
                <h3>
                    <a href="#">HTTP</a>
                </h3>
                <p>PLACEHOLDER</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="/imgs/cs.png" alt="">
                </a>
                <h3>
                    <a href="#">CS Concepts</a>
                </h3>
                <p>PLACEHOLDER</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="/imgs/agile.png" alt="">
                </a>
                <h3>
                    <a href="#">Agile</a>
                </h3>
                <p>PLACEHOLDER</p>
            </div>
        </div>
        <!-- /.row -->

</div>
