<div class="container">

<!-- Projects Row -->
        <div class="row">
            <div class="row-object">
            <div class="col-md-4 portfolio-item">
                <a href="/users/<%=@id%>/decks/1">
                    <img class="img-responsive" src="/imgs/sinatra.png" alt="">
                </a>
                <h3>
                    <a href="/users/<%=@id%>/decks/1">Sinatra</a>
                </h3>
                <p>Create web apps in Ruby quickly with Sinatra. How well do you know this popular tools?</p>
            </div>
            </div>
            <div class="row-object">
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="/imgs/javascript.png" alt="">
                </a>
                <h3>
                    <a href="#">JavaScript</a>
                </h3>
                <p>JavaScript is the programming language of HTML and the Web. Are you fluent in Javascript?</p>
            </div>
            </div>
            <div class="row-object">
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="/imgs/activerecord.png" alt="">
                </a>
                <h3>
                    <a href="#">ActiveRecord</a>
                </h3>
                <p>ActiveRecord is a popular database tool. How well do you know AR?</p>
            </div>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="row-object">
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="/imgs/http.png" alt="">
                </a>
                <h3>
                    <a href="#">HTTP</a>
                </h3>
                <p>HTTP is the foundation of data communication for World Wide Web. How well do you know your HTTP?</p>
            </div>
            </div>
            <div class="row-object">
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="/imgs/cs.png" alt="">
                </a>
                <h3>
                    <a href="#">CS Concepts</a>
                </h3>
                <p>The theory behind Computer Science today. How is your CS?</p>
            </div>
            </div>
            <div class="row-object">
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="/imgs/agile.png" alt="">
                </a>
                <h3>
                    <a href="#">Agile</a>
                </h3>
                <p>Agile is a set of principles for software development. How principled are you in Agile?</p>
            </div>
            </div>
        </div>
        <!-- /.row -->

</div>
