<div class="container">
 <div class="form">
   <div class="profile">
     <ul class="nav nav-pills nav-stacked">
       <h3><li><%= "#{@user.first_name}'s Profile" %> </li></h3>
       <br>
       <form action="/users/<%=user.id%>/rounds" method="get">
         <div>
             <h1>Your previous rounds</h1>
          
         <div>
       </form>
   </div>
 </div>
</div>