<div class="container">
  <% @cards.each do |card| %>
    <div class="form">
    <form>
      <p><strong>Question <%=card.id%>) <%= card.question %></strong></p><br>
  		<div class="radio">
  			<input type="radio" name="answer<%=card.id%>" value="true" checked> True<br>
  		</div>
  		<div class="radio">
  			<input type="radio" name="answer<%=card.id%>" value="false"> False
  		</div>
	  </form>
    </div>
  <% end %>
  	<p><input class="btn-primary" style="padding: 2%, width: 45%" type="submit" value="Submit"></p>
  	</div>
	</form>
</div>
