<div class="container">
  <% @cards.each do |card| %>
    <div class="form">
      <p><strong>Question <%=card.id%>) <%= card.question %></strong></p><br>
      <form>
  		<div class="radio">
  			<input type="radio" name="answer<%=card.id%>" value="true" checked> True<br>
  		</div>
  		<div class="radio">
  			<input type="radio" name="answer<%=card.id%>" value="false"> False
  		</div>
	  </form>
    </div>
  <% end %>
</div>
