<div class="container">

<div class="login">
  <div class="form">
    <div class="sign-in">
	   <form method="POST" action="/login">

      <p>Username:</p>
      <p><textarea name="username" rows="1" cols="50"placeholder="Enter Username"></textarea></p>

      <p>Password:</p>
      <p><input type="password" name="password" rows="1" cols="50" placeholder="Enter Password"></input></p>

      <p><input type="submit" value="Login"></p>

  	 </form>
    </div>
</div>

<div class="form">
  <div class="create_new">
    <form method="GET" action="/sign_up/new">

      <p><input type="submit" value="Create a new account"></p>

    </form>

    <form method="POST" action="#">

      <p><input type="submit" value="Play as a guest"></p>

    </form>
  </div>
</div>
</div>



</div>
