<div class="container">

<div class="form">
  <form method="POST" action="/sign_up">

    <p>Username:</p>
    <p><textarea name="user_name" rows="1" cols="50"placeholder="Enter Username"></textarea></p>

    <p>Email:</p>
    <p><textarea name="email" rows="1" cols="50"placeholder="Enter Email"></textarea></p>

    <p>Password:</p>
    <p><input type="password" name="password" rows="1" cols="50" placeholder="Enter Password"></input></p>

    <p>First name:</p>
    <p><textarea name="first_name" rows="1" cols="50"placeholder="Enter First Name"></textarea></p>

    <p>Last name:</p>
    <p><textarea name="last_name" rows="1" cols="50"placeholder="Enter Last Name"></textarea></p>

    <p><input type="submit" value="Create"></p>

  </form>
</div>

  </div>
