<div class="container">

<div class="login">
<div class="form">
	<form method="POST" action="/login">

    <p>Username:</p>
    <p><textarea name="username" rows="1" cols="50"placeholder="Enter Username"></textarea></p>

    <p>Password:</p>
    <p><input type="password" name="password" rows="1" cols="50" placeholder="Enter Password"></input></p>

    <p><input type="submit" value="Login"></p>

  	</form>
</div>

  	<hr>

  	<p><a href="/sign_up/new">Create a new account</a></p>
</div>



</div>
